*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    color: #fff;
    font-size: 2em;
    text-decoration: none;
}



nav{
    position: absolute;
    width: 200px;
    display: flex;
    left: 0px;
    margin-left: 35px ;
    margin-top: 50px;
}

nav a:first-child:after{
    content: '|';
    margin: 10px ;
}

nav a:nth-child(2)::after{
    content: '|';
    margin: 10px ;
}


nav a:nth-child(3)::after{
    content: '|';
    margin: 10px ;
}


.mainpage{
    background-color: black;
    position: relative;
    width: 100vw;
    color: white;
    height: 100vh;
}

/* 아이폰 se 기준 375/667 */
@media (max-width: 800px ){
    .mainpage{
        width: 375px;
        height: 667px;
    }

    


   
    
    
}






/* .mainpage::before{
    content: '';
    position: absolute;  /* 가상클래스before사용시 content='', absolute는 기본설정*/


