
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.body{
  width: 4100px;
  background-color: black;
}
a{
    color: #fff;
    font-size: 2em;
    text-decoration: none;
}

nav{
    position: absolute;
    width: 200px;
    display: flex;
    left: 0px;
    margin-left: 35px ;
    margin-top: 50px;
}
nav a:first-child:after{
    content: '|';
    margin: 10px ;
}
nav a:nth-child(2)::after{
    content: '|';
    margin: 10px ;
}

nav a:nth-child(3)::after{
  content: '|';
  margin: 10px ;
}




.searchpage{
    background-color: black;
    position: relative;
    width: 100vw;
    color: white;
    height: 1500px;
}
.searchbox{
   
    width: 100vw;
    height: 100px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -60%); /* 상하,좌우 */
    color: #fff;
    text-align: center;
    
}

.searchbox input{
    border: none;
    padding: 10px;
    border-radius: 20px; /* 음각제거한것 위쪽라인에 진한색들어가있는것  인풋에 공통으로 들어감 중복제거한것.*/
}


.searchbox input[type=text]{  /*[]속성 선택자사용한것  input에 보면 타입 그대로 가져온것이다.*/
    width: 800px;
    height: 60px;
    background: linear-gradient(to right, purple,rgb(143, 8, 8),rgb(175, 8, 8),rgb(200, 8, 8),red,brown,rgb(204, 141, 4),gold,rgb(255, 255, 0),yellow,rgb(189, 207, 125));
      ;
    font-size: 2rem;
    color: grey;
}
.searchbox input[type=text]::placeholder{  /* css3부터 나온 placeholder같은 가상클래스는 ::써줘야함.*/
    color: grey;
      
}

.searchbox input[type=submit]{
    width: 70px;
    height: 60px;
    cursor: pointer;
    top:  -200px;
  
}

.container{
    width: 1000px;
    height: 600px;
    border: 1px solid #494949;
    position: relative;
    top: 300px;
    left: 50px;
}

.wineImageBox{
    width: 400px;
    height: 600px;
    /* border: 5px solid red; */
    position: absolute;
}
.wineImageBox img{
    width: 400px;
    height: 600px;
}
.describe{
    width: 600px;
    height: 600px;
    /* border: 4px solid red; */
    position: absolute;
    left: 400px;
}

.foodImageBox{
    width: 400px;
    height: 700px;
    /* border: 5px solid red; */
    position: absolute;
}
.foodImageBox img{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 400px;
}

.controls{
    color: #fff;
    text-align: center;
    width: 60px;
    height: 30px;
   
    position: relative;
    top: 0;
    right: 500px;
}
.controls span{
    padding: 40px;
    background-color: #494949;
    border-radius: 50%;
   
    
}

.controls span.prev{
    position: relative;
    top: 60px;
    left: -300px;

}
.controls span.next{
    position: relative;
    left: 800px;
    top: 40px;


}

.slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 4100px;
    transition: left 0.5s ease-out;
}
.slides li:not(:last-child){
    float: left;
    
}
.slides li{

    list-style: none;
}
.slides li img{
    width: 400px;
    height: 300px;
}

.slide_wrapper{
    position: relative;
    width: 1200px;
    height: 400px;
    overflow: hidden;
    top: 100px;
    left: 50px;
}

.describe2{
    width: 1250px;
    height: 400px;
    position: relative;
    left: -400px;
    top: 600px;
    background-color: #fff;

}

.describe2 .slider div{
  display: flex;
  padding-left: 30px;
  background-color: #000;
}

.describe2 .slider img{
  width: 400px;
  height: 400px;

}

.searchResult{
  width: 350px;
  height: 600px;
  border: 1px solid red;
  position: relative;
  left: 610px;
  top: -440px;

}
.searchResult div{
  font-size: .8rem;
  padding-left: 4px;
  color: red;

}


.group{
    position: relative;
    left: 300px;
    top: 150px;
}
.circle:nth-child(1){
    position: absolute;
    left: -200px;
  }
  
  
  .circle:nth-child(2){
    position: absolute;
    left: 0%;
  }
  
  .circle:nth-child(3){
    position: absolute;
    left: 200px;
  }

.circle:nth-child(1)  .wave{
    background: red;
  }
  .circle:nth-child(2)  .wave{
    background: yellow;
  }
  .circle:nth-child(3)  .wave{
    background: greenyellow;
  }
  
  p{
    position: absolute;
    top: 70%;
    left: 27.5%;
    font-weight: bold;
    color: black;
  }
  
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: #000;
    border: 5px solid #fff;
    box-shadow: 0 0 0 5px #494949;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .wave {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  }
  
  .wave::before,
  .wave::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  
  .circle:nth-child(1) .wave::before {
    border-radius: 45%;
    background: rgba(255, 255, 255, 1);
    animation: animate 14s linear infinite;
  }
  
  .circle:nth-child(1) .wave::after {
    border-radius: 20%;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 14s linear infinite;
  }


  .circle:nth-child(2) .wave::before {
    border-radius: 45%;
    background: rgba(255, 255, 255, 1);
    animation: animate 4s linear infinite;
  }
  
  .circle:nth-child(2) .wave::after {
    border-radius: 20%;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 14s linear infinite;
  }



  .circle:nth-child(3) .wave::before {
    border-radius: 45%;
    background: rgba(255, 255, 255, 1);
    animation: animate 2s linear infinite;
  }
  
  .circle:nth-child(3) .wave::after {
    border-radius: 20%;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 10s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
  
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
  
  @media screen and (min-width:280px) and (max-width:800px){

    nav{
    left: 2px;
    top: -10px;
    }

    a{
      font-size: 32px;
    }

    .searchbox input[type=text]{
      width: 300px;
    }
    .searchbox

    .slides{
      width: 200px;
    }
    body{
      width: auto;
    }

    .container{
      width: 350px;
      height: 400px;
      /* border: 4px solid wheat; */
      left: 10px;
      top: 300px;
      border: #000;
    }
    

    .describe{
      top: 200px;
      left: 0px;
      /* border: 4px solid green; */
      width: 350px;
      height: 500px;

    }
    .describe2{
      /* border: 4px solid wheat; */
      width: 350px;
      top: 500px;
      left: 0px;
      border: 4px solid #494949;
    }

    .searchResult{
      width: 350px;
      height: 250px;
      /* border: 1px solid red; */
      left: 0px;
      top: -700px;

    }

    .wineImageBox{
      width: 350px;
      height: 550px;
      left: -0px;
      top: 190px;
      border: 4px solid #494949;
    }
    .wineImageBox img{
      position: relative;
      width: 200px;
      height: 300px;
      top: 50px;

    }
    .circle{
      width: 70px;
    }

    .circle:nth-child(1){
      left: -250px;
      top: 250px;
    }
    .circle:nth-child(2){
      left: -150px;
      top: 250px;
    

    }
    .circle:nth-child(3){
      left: -50px;
      top: 250px;
    }
    p{
      top: 50px;
      left: 13px;
      font-size: 0.8em;
    }

    .searchResult div a{
      font-size: initial;
    }

  
  }

  